body{
    background-image: url(./picture.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    background: linear-gradient(to right,white,skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    background:linear-gradient(to left, skyblue, pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p[draggable="true"]{
    color:blue
}