body{
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    border-block-end: 10px;
    border-style: dashed;
    border-radius: 0cap;
    border: width 3px;
    border-top-left-radius:10px ;
    background-origin: content-box;
    padding-right: 5cpx;
    color: rgb(209, 28, 79);
}
#p1{
    color: purple;
    font-family: cursive;
}
.odd{
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-style:dashed ;
}
.even{
    color: green;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: large;
    font-weight: 100;
    border-style: dashed;

}

